<main>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">CREAR</h4>
                </div>
                <div class="card-body">
                    <app-crear-container (EnviarContainer)="recibirContainerEnviado($event)"></app-crear-container>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">MODIFICAR</h4>
                </div>
                <div class="card-body">

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-primary">
                <div class="card-header py-3 text-white bg-primary border-primary">
                    <h4 class="my-0 fw-normal">BORRAR</h4>
                </div>
                <div class="card-body">

                </div>
            </div>
        </div>
    </div>

    <h2 class="display-6 text-center mb-4">LISTADO CONTAINERS</h2>

    <div class="table-responsive">
        <app-lista-container (DevolverContainer)="recibirContainerActivo($event)"></app-lista-container>
    </div>
</main>