<div class="tabla-container">
    <table class="table table-striped centrado">
        <thead>
            <tr>
                <th scope="col">CODIGO</th>
                <th scope="col">DESCRIPCIÓN</th>
                <th scope="col">PRECIO</th>
                <th scope="col">MÁS DETALLES</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let producto of listadoProductos" >
                <td>{{ producto.codigo }}</td>
                <td>{{ producto.descripcion }}</td>
                <td>{{ producto.precio }}</td>
                <td><button class="btn btn-primary" (click)="pasarProducto(producto)">Detalles</button></td>
            </tr>
        </tbody>
    </table>
</div>